.container__header {
  max-width: 1920px;
  min-width: 1182px;
  margin: 0 auto;
  width: 100%;
}

.container__top-content {
  width: 1182px;
  position: relative;
}

.container__top-content-size {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-content {
  display: flex;
}

.image-icon {
  width: 89px;
  height: 82px;
  margin-left: -12px;
}

.image-icon img {
  width: 100%;
  height: 100%;
}

.top-content__heading {
  font-size: 42px;
  font-weight: 700;
  color: #1b2a52;
  line-height: 55px;
  margin-bottom: 24px;
}

.top-content__text {
  font-size: 20px;
  font-weight: 400;
  color: #37383a;
  line-height: 28px;
  margin-bottom: 34px;
  margin-right: 100px;
}

.top-content__button {
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 18px 34px;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 14px rgb(6 27 101 / 10%);
  box-shadow: 0 10px 14px rgb(6 27 101 / 10%);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1478ff),
    to(#1478ff)
  );
  background: -webkit-linear-gradient(bottom, #1478ff, #1478ff);
  background: linear-gradient(0deg, #1478ff, #1478ff);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.top-content__button:hover {
  background: #0056b3;
}

.top-content__image {
  max-width: 646px;
}

.Style_bottom_content__3yQr8 {
  width: 100%;
  display: flex;
  padding: 45px 36px;
  border-radius: 30px;
  background: #ffd12c;
  -webkit-box-shadow: 0 20px 25px rgb(0 0 0 / 10%);
  box-shadow: 0 20px 25px rgb(0 0 0 / 10%);
}

.Style_group_title__jvmRG {
  width: 50%;
  font-size: 16px;
  color: #1b2a52;
  line-height: 32px;
}

.Style_right__3gO_m {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.Style_title__10fV4 {
  font-size: 28px;
  font-weight: 700;
}

.Style_description__2119u {
  font-weight: 400;
  margin-top: 5px;
}

.Style_group_item__lDxn8 {
  display: flex;
  color: #1b2a52;
  align-items: center;
  text-decoration: none;
}

.Style_group_item__lDxn8 img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.Style_text__3c2TT {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.Style_group_item__lDxn8 {
  display: flex;
  color: #1b2a52;
  align-items: center;
  text-decoration: none;
}

.Style_group_item__lDxn8 img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.Style_text__3c2TT {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.container__header-hide {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 0.25rem;
  background-color: white;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.form-hide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 64vh;
  width: 40vh;
}

.form-hide span {
  font-size: 20px;
}

.container__header-hide button {
  margin-top: 2rem;
}

.form-input {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  transition: 0.25 ease;
  outline: none;
}

.form-input:focus {
  border-color: #15cdfc;
}

.form-field {
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 21px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: 0.25s ease;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  top: 0;
  left: 11px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  color: #15cdfc;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
